<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h1>Psychologie clinique</h1>
        </div>
        <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6"></div>
        <hr />
      </div>
      <div class="row">
        <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h3>Psychologie clinique</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Repellendus amet earum, eveniet tempora aliquam, quasi assumenda
            tenetur nostrum beatae omnis, maxime possimus quidem. Nisi
            repudiandae nulla ipsam non. Distinctio, est?
          </p>
        </div>

        <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <h3>Neuropsychologie</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet
            eaque deserunt minima sint provident mollitia ratione quasi maiores
            id nisi fuga similique quidem numquam ea voluptatem, veritatis, eos
            voluptate praesentium?
          </p>
        </div>
        <hr />
      </div>
      <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h3>Paragraphe</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
            incidunt eius, adipisci tempore doloribus dicta perferendis
            accusantium eveniet sapiente consequatur consectetur quae ipsa.
            Incidunt neque adipisci saepe reiciendis, eligendi possimus. Lorem
            ipsum dolor sit, amet consectetur adipisicing elit. Inventore
            exercitationem error sit totam alias qui, minus, porro vitae veniam,
            illo facilis. Saepe exercitationem veritatis voluptatibus labore
            ipsam sequi. Cupiditate, natus?
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
