<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="container-fluid blue-purple-gredient">
        <div class="container" id="container-infos">
          <div class="row">
            <div class="col-md-6 col-xs-8 infos-sinepsy">
              <h1 class="title-footer-flash">Contact</h1>
              <p id="intro-footer">
                Vous pouvez me contacter via les coordonnées ci-dessous aux
                horaires de bureau du lundi au vendredi de
                <b>10h</b> à <b>12h30</b> et de <b>14h</b> à <b>18h</b>. Merci
              </p>

              <h6><i class="fa fa-phone"></i> Téléphone</h6>

              <a href="tel:+33650564742" class="">
                <p>06 50 56 47 42</p>
              </a>

              <h6><i class="fa fa-envelope"></i> Email</h6>

              <a href="mailto:contact.sinepsy@gmail.com" class="">
                <p>contact.sinepsy@gmail.com</p>
              </a>

              <h6><i class="fa fa-map-marker"></i> Adresse</h6>

              <a
                target="_blank"
                href="https://goo.gl/maps/QvjZs3pguCpLYzjTA"
                class=""
              >
                <p>
                  12 allée Andrée Michaux <br />
                  44600 SAINT-NAZAIRE <br />
                  FRANCE
                </p>
              </a>
            </div>
            <div class="col-md-6 col-xs-4">
              <div class="iframe-position">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2706.357968919706!2d-2.2675855845036!3d47.28780377916486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805663f3d4e308b%3A0x29eeea7fa2043c2!2s12%20All.%20Andr%C3%A9%20Michaux%2C%2044600%20Saint-Nazaire!5e0!3m2!1sfr!2sfr!4v1652166434928!5m2!1sfr!2sfr"
                  width="450"
                  height="450"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
          </div>
          <p>
            <a
              class="text-white"
              style="cursor: pointer"
              href="/mentions-legales"
              >Mentions légales</a
            >
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
