@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: Quenda;
  src: url(/assets/fonts/Quenda-Medium.otf) format("opentype");
}

@font-face {
  font-family: Philosopher-regular;
  src: url(/assets/fonts/Philosopher-Regular.otf) format("opentype");
}

@font-face {
  font-family: LTCushion;
  src: url(/assets/fonts/LTCushion-Medium.ttf) format("opentype");
}




